streamlitmysql-connector-pythonpython-dotenvpydantic-settingsbcryptlangchainlangchain-classiclangchain-communitylangchain-openailangchain-chromachromadbpymupdf4llmjiebarank_bm25sentence-transformerstorchtorchvisionpytest